.banner {
  background-color: $white;
  &__wrapper {
    background-color: $vivid-orange;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 232px;
    margin-bottom: 12px;
    padding-left: 16px;
    &--Very-soft-orange {
      background-color: $very-soft-orange;
    }
    &--Vivid-yellow {
      background-color: $vivid-yellow;
      color: $very-dark-yellow;
    }
    &--Very-dark-yellow {
      background-color: $very-dark-yellow;
    }
    &--button {
      margin-bottom: 12px;
      margin-left: 18px;
      margin-right: 4px;
      padding-bottom: 18px;
    }
  }
  &__eyebrow {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 6px;
  }
  &__top {
    font-size: 13px;
    font-weight: 400;
    margin-top: 22.19px;
  }
  &__short {
    font-size: 15px;
    font-weight: 400;
    margin-top: 4px;
    &--bold {
      font-size: 21px;
      font-weight: 700;
    }
    &--date {
      opacity: 0.8;
    }
  }
  &__text-botton {
    font-size: 18px;
    font-weight: 400;
    margin-top: 3.81px;
    opacity: 0.6;
    text-decoration: line-through;
    &--none {
      display: none;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 20px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-top: 18.92px;
    width: 236px;
  }
  &__button {
    height: 40px;
    padding: 10px 16px;
    width: 114px;
  }
}
