.header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  &__logo {
    margin-left: 12px;
  }
  &__icon {
    color: $gray;
    margin-right: 20px;
    &--card {
      height: 24.98px;
      margin-right: 25px;
      width: 22.93px;
    }
    img {
      height: 22px;
      width: 22px;
    }
  }
  &__container {
    align-items: center;
    display: flex;
  }
  &__button {
    display: none;
  }
  &__button:checked ~ .header__menu {
    margin: 0px;
    margin-left: -78%;
    transition: all 500ms ease;
    position: fixed;
    height: 100%;
  }

  &__label {
    color: #fff;
    display: block;
    font-size: 30px;
    transition: all 500ms ease;
  }
  &__open {
    align-items: center;
    background-color: $vivid-orange;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: 12px;
    width: 50px;
  }
  &__image {
    height: 17px;
    width: 20px;
  }
  &__menu {
    margin-top: -200%;
    position: absolute;
    transition: all 500ms ease;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  &__list {
    border-top: 1px solid $shadow;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: o;
    padding: 0;
  }
  &__item {
    display: flex;
  }
  &__item:hover {
    border-bottom: solid 4px $vivid-orange;
  }
  &__link {
    color: black;
    font-size: 18px;
    padding: 15px 20px;
    transition: all 500ms ease;
  }
  &__link:hover {
    color: $vivid-orange;
  }
}
