.hero {
  &__container {
    padding: 0 12px;

    @include viewport-desktop {
      display: flex;
      max-width: 1240px;
      margin: 0 auto;
      width: 100%;
    }
  }
  &__video {
    position: relative;

    @include viewport-desktop {
      order: 2;
    }

    &-icon {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 45px;
    }
    &-image {
      display: block;
    }
  }
  &__description {
    background-image: url("../img/hero-graph.svg");
    background-repeat: no-repeat;
    background-position: 100% 93%;
    background-color: $olive;
    padding: 48px 12px;

    @include viewport-desktop {
      padding: 170px 58px 148px;
      background-position: 109% 50%;
      background-size: 167px 158px;
    }
  }
  &__headline {
    &-container {
      margin-bottom: 18px;
      left: -24px;
      padding-left: 24px;
      position: relative;
    }

    &-text {
      background: $vivid-yellow;
      color: $olive;
      display: inline-inline;
      font-family: "Work Sans", sans-serif;
      font-size: 26px;
      font-weight: 600;
      line-height: 32px;
      padding: 2px 0;
      position: relative;
      z-index: 10;

      &::before {
        background: $vivid-yellow;
        content: " ";
        height: 100%;
        position: absolute;
        left: -24px;
        top: 0;
        width: 25px;
      }

      @include viewport-desktop {
        font-size: 40px;
        line-height: 48px;
        max-width: 400px;
        margin-bottom: 48px;
      }
    }
  }

  &__paragraph {
    color: $white;
    display: block;
    margin-bottom: 22px;
    max-width: 200px;

    @include viewport-desktop {
      margin-bottom: 52px;
      max-width: 460px;
    }
  }

  &__button {
    width: 138px;
  }
}
