//Colores

$white: #fff;
$black: #000;

$vivid-orange: #ff6819;
$vivid-yellow: #d5e002;
$olive: #444018;

$shadow: #000000a1;
$gray: #bfbfbf;
$Very-light-gray: #efefef;

$typography: "Work Sans", sans-serif;
