//Colores

$white: #fff;
$black: #000;
$slightly-desaturated-orange: #d6a071;
$vivid-orange: #ff6819;
$strong-orange: #d5530f;
$olive: #444018;
$mostly-black: #313131;
$very-soft-orange: #dcae86;
$vivid-yellow: #d5e002;
$very-dark-yellow: #444018;
$shadow: #000000a1;
$very-dark-gray: #272727;
$gray: #bfbfbf;
$very-light-gray: #efefef;
$lightest-grey: #f8f8f8;
$typography: "Work Sans", sans-serif;
